@tailwind base;

@tailwind components;

@tailwind utilities;

/* CSS for custom checkbox */

/* Customize the label (the container) */
.cbx__container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default input */
.cbx__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.cbx__checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 25px;
  width:25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cbx__container:hover input ~ .cbx__checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cbx__container input:checked ~ .cbx__checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cbx__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbx__container input:checked ~ .cbx__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbx__container .cbx__checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
